<div class="logo">
    <i class="fa-solid fa-sun"></i>
    <h1>HelloSky</h1>
</div>
<nav>
    <a href="/index.html" class="nav-item active">Dashboard</a>
    <a href="/Health&Activities/index.html" class="nav-item">Health & Activities</a>
</nav>
<div class="search-section">
   <form id="search-form">
        <input type="text" id="search-input" placeholder="Search city..." autocomplete="off">
        <div id="suggestions-container" class="suggestions-dropdown" style="display: none;"></div>
    </form>
</div>